.msg
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1.5%;
  color: #ffffff;
  margin-top: 50px;
  border-radius: 20px;
  height: 200px;
  width:400px;
  padding: 30px;
  border-color: #3f51b5;
  border-width: 5px;
  border-style: outset;
  text-align: center;
  background-color: #ffffff;
  background-size: auto;
}
.input{
  width: 300px;
}
.search-box{
  /*width: 50px;*/
  /*text-align: center;*/
  /*border-color: #3f51b5;*/
  /*border-style: dotted;*/
  /*border-width: 1px;*/
}
.MuiButton-containedPrimary{
  width: 300px;
  position: absolute;
  bottom: -50px;
}

.centered {
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  width: 30%;
  padding: 10px;
  border-color: #20bf6b;
  border-width: 5px;
  border-style: outset;
  text-align: center;
  background-color: #222831;
  background-size: auto;
}